.logo {
  font-size: $font__size--logo;
  color: $color--primary-accent;
  text-transform: uppercase;
  font-family: $font__family--main;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-weight: 700;
}
