$font__family--main: 'Roboto', sans-serif;
$font__family--accent: 'Playfair Display', serif;

$font__size--heading: 50px;
$font__size--subheading: 24px;
$font__size--logo: 40px;
$font__size--text: 18px;
$font__size--navigation: 20px;


$color--text: #5B5E6C;
$color--dark-text: #323747;
$color--primary-accent: #F63648;
$color--secondary-accent: #153BDD;
$color--neutral-light: #F2F2F2;
